<nav class="navbar navbar-inverse sidebar" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Dashboard</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
					<a [routerLink]="[{outlets:{admin:['quizes']}}]">Quizes
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-paper"></span>
					</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="[{outlets:{admin:['questions']}}]">Questions
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-paper"></span>
					</a>
				</li>				
				<li>
					<a (click)='onLogout()'>Logout
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="main">
	<router-outlet name="admin">	
	</router-outlet>
</div>