<div class="row">
  <div class="col-md-2">
    <label class="form-label">Select Quiz :</label>
  </div>
  <div class="col-md-4">
    <select class="form-control" [(ngModel)]='selectedQuizId' (change)="onChange($event.target.value)">
      <option *ngFor='let quiz of quizes' [value]="quiz.id">{{quiz.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" id="filterValue" placeholder="Search" [ngModel]='filterValue' (ngModelChange)='filterValue=$event'
    />
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary pull-right" [routerLink]='["/questionMaster/Create",selectedQuizId]'>Create Question </button>
  </div>
</div>
<hr/>
<h4>Questions list</h4>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="bodyHead">
      <tr>
        <th width="7%">Question No.</th>
        <th width="80%">Question</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let question of questions|questionFilter:filterValue;let index=index;' [ngStyle]="{'background-color':question.isActive?'':'#c1c1c1'}">
        <td>
          {{index+1}}
        </td>
        <td>
          <span>{{question.name}}</span>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="View">
            <button class="btn btn-primary btn-xs" data-title="View" data-toggle="modal" (click)="openQuestionModal(question.id,'VIEW');">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
          </p>
        </td>
        <td>
          <p *ngIf="question.isActive" data-placement="top" data-toggle="tooltip" title="Edit">
            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" (click)="openQuestionModal(question.id,'EDIT');" >
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </p>
          <p *ngIf="!question.isActive" data-placement="top" data-toggle="tooltip" title="Add to Quiz">
            <button class="btn btn-primary btn-xs" data-title="Add" data-toggle="modal" (click)="activateQuestionsInQuiz(question.id);">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete" *ngIf="question.isActive">
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" (click)="removeQuestions(question.id);">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </p>
        </td>

      </tr>
      <tr *ngIf="questions && !questions.length">
        <td colspan="5">
          <label class="no-result">No records found</label>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<ng-template [ngIf]="showModal">
  <app-modal-window modalTitle="Question Master" (onCloseModal)="closeModal($event)" [showModal]='showModal'>
    <div>
      <app-question-view [questionId]="questionId" [viewMode]="actionMode" (onSuccess)="closeModal($event)" ></app-question-view>
    </div>
  </app-modal-window>
</ng-template>
<!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPaging(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPaging(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPaging(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalRecords}">
      <a (click)="setPaging(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalRecords}">
      <a (click)="setPaging(pager.totalRecords)">Last</a>
  </li>
</ul> -->