<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':quiz?'inline':'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal" (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{quiz.name}}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label class="form-label">{{quiz.description}}</label>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-8" >
            <span *ngIf="!hasAttempt">click 'Start Quiz' button to Start Test</span>           
            <span *ngIf="hasAttempt" style="color:red" >You have already attempt this quiz.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5">
              <button *ngIf="!hasAttempt" class="btn btn-primary" [routerLink]="['/quiz',quizId]"  >Start Quiz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>