<div class="container">
    <div class="row">
    <form class="form-horizontal" [formGroup]="signUpForm" novalidate >
  <fieldset>
  
  <!-- Form Name -->
  <legend>Registration Form</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="firstName">First Name</label>  
    <div class="col-md-5">
    <input id="firstName" name="firstName" type="text" formControlName="firstName" placeholder="Your first name" class="form-control input-md" >
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="lastName">Last Name</label>  
    <div class="col-md-5">
    <input id="lastName" name="lastName" type="text" formControlName="lastName" placeholder="Your last name" class="form-control input-md" >
    <p *ngIf="signUpForm.controls['lastName'].hasError('required') && signUpForm.controls['lastName'].touched">Last Name is required!</p> 
    </div>
  </div>  
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>  
    <div class="col-md-5">
    <input id="email" name="email" type="text" formControlName="email" placeholder="Your email here" class="form-control input-md" >
    <span class="help-block">xxxxxxxxx@xxxxx.xxx</span>  
    <p *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched">Email is required!</p>     
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="userName">Username</label>  
    <div class="col-md-5">
    <input id="userName" name="userName" type="text" formControlName="userName" placeholder="Your username" class="form-control input-md" >
    <p *ngIf="signUpForm.controls['userName'].hasError('required') && signUpForm.controls['userName'].touched">User Name is required!</p>   
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Password </label>
    <div class="col-md-5">
      <input id="password" name="password" type="password" formControlName="password" placeholder="Password" class="form-control input-md" >
       <p *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched">Password is required!</p>   
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="confirmPassword">Confirm Password</label>
    <div class="col-md-5">
      <input id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmation password" class="form-control input-md" >     
      <p *ngIf="signUpForm.controls['confirmPassword'].hasError('nomatch') && signUpForm.controls['confirmPassword'].touched">Password not matched</p>      
    </div>
  </div>
  
  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="gender">Gender</label>
    <div class="col-md-4"> 
      <label class="radio-inline" for="gender-0">
        <input type="radio" name="gender" id="gender-0" value="Male" checked="checked">
        Male
      </label> 
      <label class="radio-inline" for="gender-1">
        <input type="radio" name="gender" id="gender-1" value="Female">
        Female
      </label>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="confirmation"></label>
    <div class="col-md-4">
      <button id="confirmation" name="confirmation" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
  </fieldset>
  </form>
  
    </div>
  </div>