<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="signUpForm">
      <fieldset>
        
        <legend>Registration Form</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="firstName">First Name</label>
          <div class="col-md-5">
            <input id="firstName" name="firstName" type="text" formControlName="first_Name" placeholder="Enter first name" class="form-control input-md">
            <show-validation-error [control]="signUpForm.controls.first_Name" ></show-validation-error>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="lastName">Last Name</label>
          <div class="col-md-5">
            <input id="lastName" name="lastName" type="text" formControlName="last_Name" placeholder="Enter last name" class="form-control input-md">
            <show-validation-error [control]="signUpForm.controls.last_Name" ></show-validation-error>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-5">
            <input id="email" name="email" type="text" formControlName="email" placeholder="Your email here" class="form-control input-md">
            <span class="help-block">xxxxxxxxx@xxxxx.xxx</span>
            <show-validation-error [control]="signUpForm.controls.email" ></show-validation-error>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="userName">Username</label>
          <div class="col-md-5">
            <input id="userName" name="userName" type="text" formControlName="user_Name" placeholder="Your username" class="form-control input-md">
            <show-validation-error [control]="signUpForm.controls.user_Name" ></show-validation-error>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password </label>
          <div class="col-md-5">
            <input id="password" name="password" type="password" formControlName="password" placeholder="Password" class="form-control input-md">
            <show-validation-error [control]="signUpForm.controls.password" ></show-validation-error>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="confirmPassword">Confirm Password</label>
          <div class="col-md-5">
            <input id="confirmPassword" name="confirmPassword" formControlName="confirm_Password" type="password" placeholder="Confirmation password"
              class="form-control input-md">
              <show-validation-error [control]="signUpForm.controls.confirm_Password" ></show-validation-error>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">         
          <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-primary" (click)="createNewUser();"  >Submit</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>