<div class="row">
  <div class="col-md-6">
    <h3>List of quizes</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">
    <label for="filterValue">Search :</label>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" id="filterValue" [ngModel]='filterValue' (ngModelChange)='filterValue=$event' />
  </div>

  <div class="col-md-offset-6 col-md-1">
    <button class="btn btn-default" (click)='showModal();'>Add</button>
  </div>
</div>
<hr/>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="bodyHead">
      <tr>
        <th width="21%"> Quiz Name </th>
        <th width="70%"> Description </th>
        <th width="14%"> Duration (In minutes) </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let quiz of quizes|quizFilter:filterValue'>
        <td>{{quiz.name}}</td>
        <td>{{quiz.description }}</td>
        <td>{{quiz.duration}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-window modalTitle="Add Quiz" (onCloseModal)="closeModal($event)"  [showModal]='openDialog'  >
    <app-add-quiz></app-add-quiz>
    
</app-modal-window>

  