
.panel{
    min-height: 100px;
  }
  .panel:hover {
      background-color: #f5d97d !important;
      cursor:pointer;    
      border: 1px solid rgb(200, 200, 200);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px ;
  
    }
    .wordwrap {     
        height: 75px;  
        white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
   }