.option {
    font-size: medium;
    padding: 10px;
    margin: 3px;
}
.option label {
    font-weight: normal;
}
.option label {
    cursor: pointer
}
.options input[type=radio] {
    background-color: #eee;
    border: 1px solid #ccc;
    height: 16px;
    width: 18px;
}

