<div class="questionWindow">
  <div style="padding-left:8px">
    <div class="row form-group">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Enter question here" [(ngModel)]='question.name' (keyup)='isAddOptionEnable=(question.name && question.name.length)' >
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)='addOption()' [disabled]='!isAddOptionEnable' >Add option</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" *ngFor="let option of question.options;let index=index">
        <div class="row form-group">
          <div class="col-md-2">
            <b> Option: {{index+1}}</b>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" placeholder="option text" [(ngModel)]='option.name'>
          </div>
          <div class="col-md-1">
               <button type="button" class="close" (click)="removeOption(option);" >
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-5">
          <button class="btn btn-default" *ngIf="question.options.length>1" >Save</button>       
          <button class="btn btn-default" (click)='setFormControl();' >Reset</button>        
      </div>
    </div>
  </div>
</div>

{{question |json}}