<div class="container-fluid">
  <div class="col-md-12" *ngIf="questions && questions.length">
    <div class="col-md-3">
      <div class="reviewPanel col-md-12">
        <div class="row display-flex">
          <div class="col-sm-3" *ngFor="let question of questions; let index = index;">
            <div id="index" [ngClass]="{'answered':question.isAttempt,'not-answered':!question.isAttempt,'highlight':(index==PageIndex),'reminderable':question.isReminderable}"
              (click)="setCurrentPage(index)">
              <h4>{{index + 1}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 control-panel">
        <button class="btn btn-success" (click)="submitTest();">Submit</button>          
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <h2>{{quiz.name}}</h2>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8">Duration (In minutes) :</div>
            <div class="col-md-4">{{quiz.duration}}</div>
          </div>
          <div class="row">
            <div class="col-md-8"> Remaining Time :</div>
            <div class="col-md-4">
              <timer [targetTimeInMinutes]="quiz.duration" (onTimeOut)="submitOnTimeOut();"></timer>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row badge badge-info pull-right">Question {{PageIndex+1}} of {{questions.length}}.</div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div *ngIf="questions" class="row">
        <div *ngFor="let question of questions;let index = index;">
          <div *ngIf='PageIndex==index'>
            <div class="col-md-12">
              <label class="pull-right">
                <input type="checkbox" [(ngModel)]="question.isReminderable"> Mark as Reminder
              </label>
            </div>
            <app-question [question]='question' [questionNumber]='index+1' (onSelect)='selectedAnswer($event)'></app-question>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-offset-4 col-sm-8 col-md-6">
            <button class="btn btn-primary" [disabled]='PageIndex==0' (click)='pageNavigation("Previous")'>Previous</button> &nbsp;&nbsp;
            <button class="btn btn-primary" [disabled]='PageIndex==(noOfQuestions-1)' (click)='pageNavigation("Next")'>Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<app-modal-window modalTitle="success !!" [showModal]='showModal' showCloseBtn='false'>
  <div>
    <span style="color:green">Test has been successfully submitted.</span>
  </div>
</app-modal-window>